.block{
    display:block;
    background: lightcoral;
}

.inline{
    display: inline;
    background: lightgreen;
}

.inline-block{
    display: inline-block;
    width: 120px;
    height: 60px;
    background: lightblue;
}